{% extends "base.html" %}

{% block content %}
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('../static/img/blog-header.jpg');">
  <div class="container position-relative d-flex flex-column align-items-center">
    <h2>Blog</h2>
    <ol>
      <li><a href="index.html">Home</a></li>
      <li>Blog</li>
    </ol>
  </div>
</div><!-- End Breadcrumbs -->

<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">

    <div class="row g-5">

      {% for post in posts.items %}
      <div class="col-lg-6">
        <article class="d-flex flex-column">

          <div class="post-img">
            <img src="{{ url_for('static', filename='uploads/' + post.cover_image) }}" alt="Cover Image" class="img-fluid">
          </div>

          <h2 class="title">
            <a href="{{ url_for('post', id=post.id) }}">{{ post.title }}</a>
          </h2>

          <div class="meta-top">
            <ul>
              <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">{{ post.author.username }}</a></li>
              <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="#"><time datetime="{{ post.date_posted.isoformat() }}">{{ post.date_posted.strftime('%b %d, %Y') }}</time></a></li>
            </ul>
          </div>

          <div class="content">
            <p>{{ post.content|truncate(200) }}</p>
          </div>

          <div class="read-more mt-auto align-self-end">
            <a href="{{ url_for('post', id=post.id) }}">Read More <i class="bi bi-arrow-right"></i></a>
          </div>
          <div>
{% if current_user.is_authenticated %}
    {% if post.poster.id == current_user.id %}
        <form method="POST" action="{{ url_for('delete_post', id=post.id) }}" onsubmit="return confirm('Are you sure you want to delete this post?')">
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
        </form>
    {% endif %}
{% endif %}
          </div>
        </article>
      </div><!-- End post list item -->
      {% endfor %}

      <div class="blog-pagination">
        <ul class="justify-content-center">
          {% if posts.has_prev %}
          <li><a href="{{ url_for('blog', page=posts.prev_num) }}">&laquo;</a></li>
          {% else %}
          <li class="disabled"><span>&laquo;</span></li>
          {% endif %}

          {% for num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
          {% if num %}
          {% if posts.page == num %}
          <li class="active"><span>{{ num }}</span></li>
          {% else %}
          <li><a href="{{ url_for('blog', page=num) }}">{{ num }}</a></li>
          {% endif %}
          {% else %}
          <li class="disabled"><span>...</span></li>
          {% endif %}
          {% endfor %}

          {% if posts.has_next %}
          <li><a href="{{ url_for('blog', page=posts.next_num) }}">&raquo;</a></li>
          {% else %}
          <li class="disabled"><span>&raquo;</span></li>
          {% endif %}
        </ul>
      </div><!-- End blog pagination -->

    </div><!-- End row -->

  </div><!-- End container -->
</section><!-- End Blog Section -->

{% endblock %}
